@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

* {
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    line-height: 100px;
    font-size: 40px;
    text-align: center;
}

header > h1 {
    color: seashell;
    vertical-align: middle;
}

footer {
    line-height: 100px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

body {
    background: skyblue;
    text-align: center;
}


#buttons > .button {
    text-transform: uppercase;
    vertical-align: middle;
    margin:20px auto;
    font-size: 16px;
    padding: 8px;
    height: 50px;
    width: 100px;
}

div#container > div {
    border: 1px solid gray;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

div#container >div:hover {
    background-color: rgb(221, 221, 221);
    transition: .3s;
}

#container {
    box-sizing: border-box;
    border: 1px solid black;
    width: 62vw;
    height: 62vw;
    max-width: 745px;
    max-height: 745px;
    display: grid;
    margin: 0 auto;
    background-color: white;
}

#change {
    background-color: rgb(146, 0, 0);
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin: 5px auto;
}



.picker .input{
    margin: 10px auto;
    vertical-align: middle;
    height: 50px;
    width: 100px;
}

@media (max-width: 745px) {
    header {
        font-size: 25px;
    }

    #container {
        width: 99vw;
        height: 99vw;
    }

    footer {
        padding: 10px;
        font-size: 25px;
    }
}
@media (max-width: 745px) {
    .picker > .input {
        font-size: 15px;
    }
}